name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: .
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - name: Install dependencies
        run: npm install
        working-directory: eldium-abs-lending-platform
      - name: Build
        run: npm run build
        working-directory: eldium-abs-lending-platform
      - name: Run tests
        run: npm test || echo "No tests found."
        working-directory: eldium-abs-lending-platform 